body 
{
    /* background-color:  #9A9FAB */
}

.error 
{
width: 300px;
height: auto ;
}

.caja
{


}
.principal
{
    display: inline-block;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}