body 
{
    /* background-color:  #9A9FAB */
}

.error 
{
width: 200px;
height: auto ;
}

.caja-uno
{

        color: #2e2e31;
        padding: 40px 20px;
        background-color  #fafafa;
        border: 1px solid #dddfe5;
        border-radius: 8px;
        width: 260px;
        margin-left: auto;
        margin-right: auto;
        padding: 30px;
        


}
.principal
{
    display: inline-block;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

a
{
    text-decoration: none;
}