@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@700&display=swap');

body 
{
    font-family: 'Noto Serif JP', serif;
    font-size: small ;
    background-color:#B4C0D8;
   
}

.error 
{
width: 300px;
height: auto ;
}

.caja-uno
{

        color: #2e2e31;
        padding: 40px 20px;
        background-color :#FBFBFB ;
        border: 1px solid : #B4C0D8;
        border-radius: 10px;
        width: 300px;
        height : auto ;
        margin-left: auto;
        margin-right: auto;
        padding: 30px;
        


}
.principal
{
    display: inline-block;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

a
{
    text-decoration: none;
}